<div class="mob_content">
	
	<div class="mob_home_image"></div>
	
	<div class="mob_tagline_text">
		<div class="mob_tagline_text_left">Great designs deserve</div>
		<div class="mob_tagline_text_right">great specifications</div>
	</div>
	
	<div class="mob_web_login">
		<%= form_tag sessions_path do %>
			<div class="web_mob_login_username">       
				<%= text_field_tag :email, params[:email], :id=>"mob_login_email", :placeholder => "Email address"%> 
			</div> 	
			<div class="web_mob_login_password">	 
				<%= password_field_tag :password, params[:password], :id=>"mob_password", :placeholder => "Password"%>  
			</div>               
			<div class="web_mob_login_submit">
				<%= submit_tag :login %> 
			</div> 
		<% end %>
	

	<% if flash[:notice] %>
		<div class="mob_web_password_reminder">  
			<%= link_to 'Forgotten?', new_password_reset_path %>  
		</div>
	<% end %>
	</div>
</div>