<div class="page_title">Create New Clause</div>

<div class="content">
    <div class="column_1">
		<div class="column_content">       
			<div class="column_title">Create new clause in <%=h @subsection.full_code%></div>   
    			
    		<div class="column_sub_content">

				<div class="column_guide">
					<p>Create new clause in <%=h @subsection.full_code%></p>
      			</div>

				<div class="column_form">
				<%= form_for @clause do |f| %>
				<!-- value set to '1' for all new clauses, if different does not work with revision tracking and clause management -->
						<%= f.hidden_field(:project_id, {:value => 1})%>
						<%= hidden_field_tag(:id, @project.id)%>    
					
						<table>
						<tr><td>
							<%= f.fields_for :clauseref do |ref| %>
							<%= ref.hidden_field(:subsection_id, {:value => @subsection.id})%> 	
							<div class="clause_form_label">Reference:</div>
							<div class="form_input">
								<%=h @subsection.full_code %>.
								<%= ref.text_field :full_clause_ref, :id=>"enter_clause_ref_default", :value=>"????", :size => 2 %>
          						<%= ref.text_field :full_clause_ref, :id=>"enter_clause_ref", :value=>"", :size => 2 %> 
							</div>
							<% end %> 					
						</td></tr>
						<tr><td>
							<div class="clause_form_label">Title:</div>
							<div class="form_input"><%= f.text_field :title_text, :size => 75, :blank => true %>
								<% if flash.any? %>
									<div class="form_error_note"><%= flash[:error] %></div>
								<% end %>
    							<% if @clause.errors.any? %> 
									<div class="form_error_note"><%= error_check(@clause, :'clauseref.full_clause_ref')%></div>	
									<div class="form_error_note"><%= error_check(@clause, :'title_text')%></div>
								<% end %>								 
								</div>					
						</td></tr>											
						</table>				
      		      		
      			<div class="column_sub_guide">
					<p>Select content of new clause:</p>
      			</div>
      		
						<table>
		      		
      		<tr><td><%= radio_button_tag :clause_content, 'blank_content', :checked => true %> Blank content suitable for editing.</td></tr>
      		<tr><td><%= radio_button_tag :clause_content, 'clone_content' %>  Clone content from:</td></tr>					
      		<tr><td>
      			<div class ="clone_select">
      				<table>
      					<tr><td class="clone_template">
      						Project:
      						</td>
      						<td>
      							<%= select_tag "clone_template_id", nil, {:prompt => 'Select Project', :disabled => true} %>
						</td></tr>
						<tr><td class="clone_section">
      						Section:
      						</td>
      						<td>
      						<%= select_tag "clone_section_id", nil, {:prompt => 'Select Section', :disabled => true} %>
 						</td></tr>
						<tr><td class="clone_clause">
      						Clause:
      						</td>
      						<td>
      						<%= select_tag "clone_clause_id", nil, {:prompt => 'Select Clause',:disabled => true} %>
 						</td></tr>
 					</table>												

								</div>					
						</td></tr>											

						</table>	      	
      			</div>
    		</div>
    	
      		<div class="column_footer">
        		<div>
        			<div class="column_submit"><%= f.submit "Create Clause"%></div>

        			<div class="column_cancel"><%= link_to "Cancel", {:controller => "specclauses", :action => "manage", :id => @project.id, :project_id => @project.id, :subsection_id => @subsection.id} %></div>              
        		</div>   
      		</div>
        		<% end %>       		
      	</div>   
	</div>
	
	<div class="column_2 column_blank"></div> 
    <div class="column_3 column_blank"></div>
     
</div>



 
