<div class="web_page_body">
    <div class="web_title_band">
        <div class="web_title">Terms of Use</div>
    </div>
    <div class="web_title_signup_link"><%= link_to "create free account", sign_up_path %></div>

    <!-- t&cs list --> 
    <div class="web_terms_box">
        <table>  
        <% @termcats.each_with_index do |cat, i|%>
        <tr>    
            <td class="term_id_title"><%= i +1 %>.</td>
            <td class="term_text_title" colspan =2><%= cat.text.upcase %></td>
        </tr>  
            <% cat.terms.each_with_index do |term, n|%>
            <tr>    
                <td class="term_id"><%= i +1 %>.<%= n +1 %>.</td>
                <td class="term_text"><%= term.text%></td>
            </tr>
            <% end %>
        <% end %>
        </table> 
    </div>
        
    <%= render :partial => "websites/web_footer" %>
    
</div>
