<div class="row title_band">
    <div class="page_title">
        <h1>List of Employees</h1>
    </div>
    <div class="title_help" id="user_index"></div>
    <div><%= link_to 'Add Employee', new_employee_path, class: "title_button"%></div>
</div>


<div class="row">
    <div class="col-1-1 column_1">
        <div class="border">

        <%= render :partial => "flash_notice" %>

            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <th class="user_name">Name</th>
                            <th class="user_email">E-mail</th>
                            <th class="user_phone">Telephone</th>
                            <th class="user_last_login">Last Login</th>
                            <th class="user_status">Status</th>
                            <th class="row_button no_buttons_2"></th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                        <% @users.each do |user| %>
                        <tr>
                            <td class="user_name"><%= user.name %></td>
                            <td class="user_email"><%= user.email %></td>
                            <td class="user_phone"><%= user.phone_number if user.tel? %></td>
                            <td class="user_last_login"><%= user.last_sign_in_at.strftime("%d/%m/%y") %></td>
                            <td id="<%= user.id %>_status" class="user_status"><%= user.state %></td>
                            <td id="<%= user.id %>_links" class="row_button no_buttons_2">
                            	<% if user.active? %>
                            		<%= row_deactivate_link(user, 'show') %>
                            		<%= row_activate_link(user, 'hidden') %>
                            	<% else %>
                            		<%= row_deactivate_link(user, 'hidden') %>
                            		<%= row_activate_link(user, 'show') %>
                            	<% end %>
                                <%= link_to "", user_path(user), class: 'line_show_icon', title: "show full details" %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>