<div class="row title_band">
    <div class="page_title">
        <h1>Add New Employee</h1>            
    </div>
</div>


<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

<!-- error messages - associated with form start--> 
            <%= devise_error_messages! %>

<!-- form column start-->
            <div class="row">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= f.hidden_field :role, :value => "employee" %>
                    <%= f.hidden_field :company_id, :value => current_user.company_id %>
                    <fieldset>

                        <!-- form input[text] --> 
                        <label class="label_100">First Name:*</label>
                        <span>
                            <%= f.text_field :first_name, autofocus: true %>
                        </span></br>

                        <!-- form input[textarea] -->    
                        <label class="label_100">Surname:*</label>
                        <span>
                            <%= f.text_field :surname %>
                        </span></br>

                        <!-- form input[email] --> 
                        <div class="form_tooltip" id="registration_email"></div>
                        <label class="label_100">E-mail:*</label>
                        <span>
                            <%= f.email_field :email, {placeholder: 'e.g. demo@example.com'} %>
                        </span></br>


                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="registration_password"></div>
                        <label class="label_100">New password:*</label>
                        <span>
                            <%= f.password_field :password, autocomplete: "off" %>
                        </span></br>

                        <!-- form input[textarea] -->    
                        <label class="label_100">Confirm new password:*</label>
                        <span>
                            <%= f.password_field :password_confirmation, autocomplete: "off" %>
                        </span></br>
                        
                    </fieldset>
            </div>
<!-- column footer start--> 
            <div class="row">
                <div class="form_footer">
                    <%= f.submit "save"%>
                    <%= link_to "cancel", users_path %>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-1-3 column_2">
        <div class="border blank_column"></div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div>
