<p id="notice"><%=h notice %></p>

<p>
  <strong>Rev:</strong>
  <%=h @revision.rev %>
</p>

<p>
  <strong>Project status:</strong>
  <%=h @revision.project_status %>
</p>

<p>
  <strong>Project:</strong>
  <%=h @revision.project_id %>
</p>

<p>
  <strong>User:</strong>
  <%=h @revision.user_id %>
</p>

<p>
  <strong>Date:</strong>
  <%=h @revision.date %>
</p>

<%= link_to 'Edit', edit_revision_path(@revision) %> |
<%= link_to 'Back', revisions_path %>
