<!-- project information - ALL DEVICES (formatting changed in CSS -->
<div class="project_info">
	<div class="project_title">
		<div class="project_code">   
    		Project: <%=h @project.code%>
		</div>
		<div class="project_code_title">   
    		<%=h @project.title %>
		</div>
	</div>	
	<div class="project_status">
		Status: <%=h @project.project_status %>
	</div>
	<div class="project_rev">
    	Rev: <%=h @current_revision_rev %>
  	</div>
</div>


<div class="option_band_single">	
<!-- subsection select and add/delete link for MOBILE -->
	<div class="section_select_mobile">
		<div class="select_1">
			<div class="label_select_1">Subsection:</div>
			<div class="option_select_1">
      			<%= select_tag "section", options_from_collection_for_select(@project_subsections, :id, :full_code, @selected_subsection.id), {:class => 'document_selectBox_1', :onchange => "window.location='/specifications/#{@project.id}?subsection='+this.value;"}  %>	
			</div>
		</div>
		<% if @project_user.manage? || @project_user.edit? %>
		  <div class="subsection_button_small"><%= link_to '+/-', manage_specsubsection_path(:id => @project.id, :template_id => @project.parent_id) %></div> 
		<% end %>
	</div>
	
<!-- subsection select and add/delete link for TABLET-->
	<div class="section_select_tablet">
		<div class="select_1">
			<div class="label_select_1">Subsection:</div>
			<div class="option_select_1">
      			<%= select_tag "section", options_from_collection_for_select(@project_subsections, :id, :full_code_and_title, @selected_subsection.id), {:class => 'document_selectBox_1', :onchange => "window.location='/specifications/#{@project.id}?subsection='+this.value;"}  %>	
			</div>
		</div>
		<% if @project_user.manage? || @project_user.edit? %>
		  <div class="subsection_button_medium"><%= link_to '+/- sections', manage_specsubsection_path(:id => @project.id, :template_id => @project.parent_id) %></div> 
	    <% end %>
	</div>

<!-- subsection select and add/delete link for DESKTOP -->
	<div class="section_select_desktop">
		<div class="select_1">
			<div class="label_select_1">Section:</div>
			<div class="option_select_1">
      			<%= select_tag "section", options_from_collection_for_select(@project_sections, :id, :code_and_title, @selected_section.id), {:class => 'document_selectBox_1', :onchange => "window.location='/specifications/#{@project.id}?section='+this.value;"}  %>	
			</div>
		</div>
		<div class="select_2">
			<div class="label_select_1">Subsection:</div>
			<div class="option_select_2">
      			<%= select_tag "subsection", options_from_collection_for_select(@selected_section_subsections, :id, :part_code_and_title, @selected_subsection.id), {:class => 'document_selectBox_2', :onchange => "window.location='/specifications/#{@project.id}?subsection='+this.value;"}  %>	
			</div>
		</div>
		<% if @project_user.manage? || @project_user.edit? %>
		  <div class="subsection_button_large"><%= link_to 'add/delete sections', manage_specsubsection_path(:id => @project.id, :template_id => @project.parent_id) %></div>
	    <% end %>
	</div>			
</div>

<% if @selected_section.id == 1 %>

    <div class="document_tabs">
    	<div class="prelim_show">
    		<%= render "tab_specline_content", locals: {selected_specline_lines: @selected_specline_lines} %>     
        	<table><tr class='specline_row'><td></td></tr></table>
    	</div>
        <div class="tab_sub_menu">      

            <%= clause_link(@project.id, @selected_subsection.id) %>

            <div class="character_menu">
                <div class="character_menu_content">
                    <ul>
                        <li class="character" id="symbol_0">'º'</li>
                        <li class="character" id="symbol_1">'²'</li>
                        <li class="character" id="symbol_2">'³'</li>
                        <li class="character" id="symbol_3">'±'</li>
                        <li class="character" id="symbol_4">'≤'</li>
                        <li class="character" id="symbol_5">'≥'</li>
                    </ul>
                </div>
                <div class="character_menu_label">insert symbol:</div>
            </div>      
        </div>      	
    	
    </div>

<% else %>

    <div class="document_tabs">
    	<div class="tab_sub_menu">		

    		<%= clause_link(@project.id, @selected_subsection.id) %>

    		<div class="character_menu">
    			<div class="character_menu_content">
    				<ul>
    					<li class="character" id="symbol_0">'º'</li>
    					<li class="character" id="symbol_1">'²'</li>
    					<li class="character" id="symbol_2">'³'</li>
    					<li class="character" id="symbol_3">'±'</li>
    					<li class="character" id="symbol_4">'≤'</li>
    					<li class="character" id="symbol_5">'≥'</li>
    				</ul>
    			</div>
    			<div class="character_menu_label">insert symbol:</div>
    		</div>		
    	</div>	
    	
    	<ul class='tabs'>
    		<% @clausetypes.each_with_index do |clausetype, i|%>
          		<li id="<%=h clausetype.id %>"><a href='#<%=h clausetype.id %>000'><%=h clausetype.text %></a></li>
        	<%end%>
      	</ul>
     	<% @clausetypes.each_with_index do |clausetype, i|%>	   
    		<% if i == 0 %>
    			<div id="<%=h clausetype.id %>000" class="tab_content <%=h clausetype.id %>"> 
    				<%= render "tab_specline_content", locals: {selected_specline_lines: @selected_specline_lines} %>
    			</div> 
    		<% else %>
    			<div id="<%=h clausetype.id %>000" class="tab_content <%=h clausetype.id %>">
    				<p>Loading...</p>
    			</div> 					
    		<% end %>   
    	<%end%> 
    </div>

<% end %>


<!-- jquery to load tab content -->
	<script>
		$('ul.tabs').children('li').click(function(){
			var clausetype_id = $(this).attr('id');
			jQuery.get('/specifications/<%= @project.id%>/show_tab_content?subsection_id=<%= @selected_subsection.id %>&clausetype_id=' + clausetype_id);
		});
	</script>


