<div class="row title_band">
    <div class="page_title">
        <h1>Create Project</h1>
    </div>
    <div class="title_help" id="project_new"></div>
</div>


<div class="row">
    <div class="col-1-1">
        <div class="border">

            <%= render :partial => "form_error", :locals => {:item => @project} %>

            <%= form_for(@project, :html => { :multipart => true }) do |f| %>
						<%= f.hidden_field :project_status, :value =>'Draft' %>
						<%= f.hidden_field :ref_system, :value =>'CAWS' %>
						<%= f.hidden_field :parent_id, :value => 2 %>
						<%= f.hidden_field :company_id, :value => current_user.company.id %>
    
            <div class="row">
                <div class="sub-1-3 column_1">
                    <fieldset>

                        <div class="row">
                            <div class="column_title">
                                <h4>Project Details<span class="form_tooltip"></span></h4>
                            </div>
                        </div>

                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="project_code"></div>
                        <label class="label_120">Project Code:*</label>
                        <span>
                            <%= f.text_field :code %>
                        </span></br>

                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="project_title"></div>
                        <label class="label_120">Project Title:*</label>
                        <span>
                            <%= f.text_field :title %>
                        </span></br>

                        <!-- form input[file] --> 
                        <div class="form_tooltip" id="project_image"></div>
                        <label class="label_120">Project Image:</label>
                        <span>
                            <%= f.file_field :project_image %>
                        </span></br>

                        <!-- form input[text] --> 
                        <div class="form_tooltip" id="project_client"></div>
                        <label class="label_120">Project Client:</label>
                        <span>
                            <%= f.text_field :client_name %>
                        </span></br>

                        <!-- form input[file] --> 
                        <div class="form_tooltip" id="project_client_logo"></div>
                        <label class="label_120">Client Logo:</label>
                        <span>
                            <%= f.file_field :client_logo %>
                        </span></br>

                    </fieldset>
                </div>
                
                <div class="sub-1-3 column_2">
                    <fieldset>

                        <div class="row">
                            <div class="column_title">
                                <h4>Project Settings<span class="form_tooltip"></span></h4>
                            </div>
                        </div>

                        <!-- show text line -->
                        <div class="form_tooltip" id="project_status"></div>
                        <label class="label_110">Project Status:</label>
                        <span>Draft</span></br>

                        <div class="form_tooltip" id="project_ref_system"></div>
                        <label class="label_110">Reference System:</label>
                        <span>CAWS</span></br>

                        <!-- show text line -->
                        <div class="form_tooltip" id="project_template"></div>
                        <label class="label_110">Project Template:</label>
                        <span>Specright Standard Template</span></br>

		      			
                    </fieldset>                                        
                </div>
                
                <div class="sub-1-3 column_3">
                	
                </div>
            </div>
            
            <div class="row">
                <div class="form_footer">
                    <%= f.submit "save" %>
                    <%= link_to "cancel", projects_path %>
                </div>
                <% end %>
            </div>
            
        </div>
    </div>
</div>
  