<div class="page_title">Create Project</div>

<div class="content">
    <div class="column_1">
		<div class="column_content">
      		<div class="column_title">Project details</div>   
      
      		<% if @project.errors.any? %> 
      		<div class="column_error">
        		<p><%= pluralize(@project.errors.count, "error") %> prohibited this project from being created</p>
      		</div>
	  		<% end %> 

    		<div class="column_sub_content">

				<div class="column_guide">
 					<p>The following information will be printed on the final document.</p>
 					<p>The uploaded project image will be scaled proportionally to maximum 90mm high x 120mm wide</p>
 					<p>Image files must be either png or jpeg format and files must be no bigger than 1Mb in size.</p>     			
      			</div>

				<div class="column_form">
				<%= form_for @project, :html => { :multipart => true } do |f| %>
						<%= f.hidden_field :project_status, :value =>'Draft' %>
						<%= f.hidden_field :ref_system, :value =>'CAWS' %>
						<%= f.hidden_field :parent_id, :value => 2 %>
						<%= f.hidden_field :company_id, :value => current_user.company.id %>
						<table>
						<tr><td>
							<div class="project_form_label form_input_label">Project Code:*</div>
							<div class="form_input"><%= f.text_field :code %>
								<div class="form_error_note"><%= error_check(@project, :code)%> </div>
							</div>						
						</td></tr>
						<tr><td>
							<div class="project_form_label form_input_label">Project Title:*</div>
							<div class="form_input"><%= f.text_field :title %>
								<div class="form_error_note"> <%= error_check(@project, :title)%> </div>
							</div>				
						</td></tr>
											
						<tr><td>
							<div class="project_form_label form_input_label">Upload Project Image:<br><span class="form_label_note"> (1Mb max)</span></div>
							<div class="form_input"><%= f.file_field :project_image %></div>			
						</td></tr>
                            <tr><td>
                                <div class="project_form_label form_input_label">Project Client:</div>
                                <div class="form_input"><%= f.text_field :client_name %></div>              
                            </td></tr>
                            <tr><td>
                                <div class="project_form_label form_input_label">Upload Client Logo:<br><span class="form_label_note"> (1Mb max)</span></div>
                                <div class="form_input"><%= f.file_field :client_logo %></div>             
                            </td></tr>  
						</table>	      	
      			</div>
    		</div>
    	
      		<div class="column_footer">
        		<div>
        			<div class="column_submit"><%= f.submit "save"%></div>              

        			<div class="column_cancel"><%= link_to "Cancel", projects_path %></div>              
        		<% end %>       		             
        		</div>   
      		</div>
      	</div>   
	</div>
	
	<div class="column_2">
		<div class="column_content">
      		<div class="column_title">Project settings</div>   
      
    		<div class="column_sub_content">

				<div class="column_guide">
					<p>The following are default settings which can be changed once the project has been created:</p>
					<ul>
						<li>Project Status: Draft</li>
						<li>Project Template: Specright Standard Template</li>						
					</ul>
					<p>The Template Project is the default template/project from which subsections and clauses will be copied to form the new project.</p>   			
      			</div>

    		</div>
    	
      	</div>   
	</div>		
		 
    <div class="column_3 column_blank"></div>
  
</div>



  