<div class="row title_band">
    <div class="page_title">
        <h1>Add/Delete Sections</h1>
    </div>
</div>

<!-- project information bar -->
<div class="row info_band">
    <div class="info_right">
        <div><h3>Status: <%= @project.project_status %></h3></div>
        <div><h3>Rev: <%= current_revision_render(@project) %></div>
    </div>
    <div class="info_left">
        <div class=""><h3>Project: <%= @project.code_and_title %></h3></div>
    </div>
</div>

<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

			<div class="row">
				<div class="column_title">
					<h4>Add Sections from Template</h4>
				</div>
			</div>

            <!-- form input[select -->
            <div class="no_form_input">
                <div class="form_tooltip" id="sections_project_template"></div>
                <label class="label_120">Project Template:</label>
                <span>
          			<%= select_tag "selected_template_id", options_from_collection_for_select(@templates, "id", "code_and_title", @template.id), {:onchange => "window.location='/specsubsections/#{@project.id}/manage?template_id='+this.value;"} %>
                </span></br>
            </div>

<!-- form column start-->
            <div class="row">
                <%= form_tag(:controller => "specsubsections", :action => "add") do %>
					<%= hidden_field_tag "id", @project.id%>
          			<%= hidden_field_tag "template_id", @template.id%>

                    <fieldset>

			            <!-- form input[select] -->
			            <div class="form_tooltip" id="sections_add_sections"></div>
			            <label class="label_110">Template Sections:</label>
			            <% if @template_subsections %>
			            <span>
			      			<%= select_tag "template_sections", options_from_collection_for_select(@template_subsections, :id, :full_code_and_title), multiple: true%>
			            </span></br>
			            <% else %>
			            	<span>All sections in the template already exist in the current project</span></br>
			            <% end %>

                    </fieldset>
            </div>
<!-- column footer start--> 
            <div class="row">
                <div class="form_footer">
                    <%= submit_tag "add sections"%>
                    <%= link_to "cancel", specification_path(@project.id) %>
                </div>
                <% end %>
            </div>
        </div>
    </div>


    <div class="col-1-3 column_2">
        <div class="border">

			<div class="row">
				<div class="column_title">
					<h4>Delete Sections from Project</h4>
				</div>
			</div>

<!-- form column start-->
            <div class="row">
				<%= form_tag(:controller => "specsubsections", :action => "delete") do %>
					<%= hidden_field_tag "id", @project.id%>
          			<%= hidden_field_tag "template_id", @template.id%>
            		
                    <fieldset>

			            <!-- form input[select] -->
			            <div class="form_tooltip" id="section_delete_sections"></div>
			            <label class="label_110">Project Sections:</label>
			            <span>
			      			<%= select_tag "project_sections", options_from_collection_for_select(@project_subsections, :id, :full_code_and_title), multiple: true %>
			            </span></br>

                    </fieldset>
            </div>
<!-- column footer start--> 
            <div class="row">
                <div class="form_footer">
                    <%= submit_tag "delete sections", :confirm => "Subsections moved from the Project will be deleted premanently, they are not copied to the template project. Do you wish to continue?" %>
                    <%= link_to "cancel", specification_path(@project.id) %>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div>
