<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

            <div class="row">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <fieldset>

                    <div class="row">
                        <div class="column_title">
                            <h4>Sign In</h4>
                        </div>
                    </div>

                    <!-- form input[email] -->
                    <label class="label_80">E-mail:*</label>
                    <span>
                        <%= f.email_field :email, autofocus: true %>
                    </span></br>

                    <!-- form input[text] -->
                    <label class="label_80">Password:*</label>
                    <span>
                        <%= f.password_field :password, autocomplete: "off" %>
                    </span></br>

                    <!-- link button: full width -->
                    <label class="label_80"></label>
                    <span>
                        <%= f.submit "Sign in", class: "form_button_full"%>
                    </span></br>
                    <% end %>

                    <%= render "devise/shared/links" %>

               </fieldset>
            </div>
        </div>
    </div>

    <div class="col-1-3 column_2">
        <div class="border">

            <article>
                <div class="article-set">

                <div class="row">
                    <div class="column_title">
                        <h4>Sign Up</h4>
                    </div>
                </div>

                <!-- show text line --> 
                <label class="label_icon"></label>
                <span><h3>Create a free account with 3 free user licences</h3></span></br>

                <!-- show text line --> 
                <label class="label_icon"></label>
                <span><h3>No IT or training costs, works with all operating systems and devices.</h3></span></br> 

                <!-- show text line --> 
                <label class="label_icon"></label>
                <span><h3>Access specification templates for over 80 CAWS sections and 4,000 clauses</h3></span></br> 

                <label class="label_80"></label>
                <span>
                    <%= link_to 'Create Account', new_user_registration_path, class: "form_button_full" %>
                </span></br>

                </div>
            </article>
        </div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column">
        </div>
    </div>
</div>