    <% if !@deleted_prelim_subsections.empty? %>
      <table class='rev_deleted_subsection_title' width ='100%'><tr><td class='rev_title'>Deleted Subsections:</td></tr></table>
        <% @deleted_prelim_subsections.compact.each do |subsection|%>
        <%= changed_prelim_subsection_text(@project, subsection) %>
        <% end%>
    <% end%>
    
    <% if !@added_prelim_subsections.empty? %>
      <table class='rev_deleted_subsection_title' width ='100%'><tr><td class='rev_title'>Added Subsections:</td></tr></table>
        <% @added_prelim_subsections.compact.each do |subsection|%>
        <%= changed_prelim_subsection_text(@project, subsection) %>
        <% end%>
    <% end%>
    
    <% if !@changed_prelim_subsections.empty? %>
      <table class='rev_deleted_subsection_title' width ='100%'><tr><td class='rev_title'>Changed Subsections:</td></tr></table>
        
        <% @changed_prelim_subsections.compact.each do |subsection|%>

		  <%= changed_prelim_subsection_text(@project, subsection) %>
          
         
          <% if !@deleted_prelim_clauses[subsection.id].empty? %>
            <table><tr><td class='rev_subsection_action'>Clauses Deleted:</td></tr></table>
            <% @deleted_prelim_clauses[subsection.id].each do |clause| %>          
                <%= changed_clause_titles(clause, 'deleted', @revision, @project) %>
            <% end %>         
          <% end %>
           
          
          <% if !@added_prelim_clauses[subsection.id].empty?  %>
            <table><tr><td class='rev_subsection_action'>Clauses Added:</td></tr></table>
            <% @added_prelim_clauses[subsection.id].each do |clause| %>          
                <%= changed_clause_titles(clause, 'added', @revision, @project) %>
            <% end %>
          <% end %>

           
          <% if !@changed_prelim_clauses[subsection.id].empty?  %>
          <table><tr><td class='rev_subsection_action'>Clauses Changed:</td></tr></table>
          
          <% @changed_prelim_clauses[subsection.id].each do |clause| %>
          
            <%= changed_clause_titles(clause, 'changed', @revision, @project) %>
            
      		<%= clause_line_text_altered(clause, 'new') %>
        	<% @altered_lines.each do |line| %>
          		<%= original_line_text(line) %>
        	<% end %>
    
      		<%= clause_line_text_altered(clause, 'deleted') %>
        	<% @altered_lines.each do |line| %>
          		<%= original_line_text(line) %>
        	<% end %>
    
      		<%= clause_line_text_altered(clause, 'changed') %>
            <% @altered_lines.each do |line| %>
              <%=changed_line_text(line, @revision, @project)%>
            <% end %> 
                    
          <% end%>
          <% end %>
        <% end%>
    <% end%>