<!-- project information bar -->
<%= render "project_info_bar", locals: {project: @project} %>

<!-- option select bar -->
<div class="option_band_single">	
	<div class="project_select">
		<div class="project_label_select">Revision:</div>
      	<%= revision_select(@revisions, @revision, @project, @subsections) %>
	</div>
</div>

<!-- page content -->
<% if @subsections.blank? %>
    
    <div class="content">
        <div class="column_1">
    		<div class="column_content">
          		<div class="column_title">Revisions</div>             
        		<div class="column_sub_content">    
    				<div class="column_guide">
    					<%= revision_help(@revision, @project) %>
    				</div>	
          		</div>
          	</div>   
    	</div>
    	<div class="column_2 column_blank"></div>
        <div class="column_3 column_blank"></div>      
    </div> 						

<% else %>

    <div class="revision_tabs">
        <ul class='tabs'>
          <% if @revision_project_status_changed %>
            <li class="prelim"><a href='#prelim_rev_view'>Status</a></li>
          <% end%>
          
          <% @subsections.each do |subsection|%>
            <% if @project.CAWS? %> 
                <li id="<%=h subsection.id %>" class="non_prelim"><a href='#<%=h subsection.id %>rev_view'><%=h subsection.cawssection.full_code %></a></li>
            <% else %>
                <li id="<%=h subsection.id %>" class="non_prelim"><a href='#<%=h subsection.id %>rev_view'><%=h subsection.unisection.full_code %></a></li>    
            <% end %>  
          <% end %>
        </ul>
    
        <div id="<%= @subsection.id%>rev_view" class="tab_content <%= @subsection.id%>">
            <% if @revision_project_status_changed %>
                Project Status changed from <%=h @previous_revision_project_status %> to <%=h @project.revision.project_status %>
            <% else %>
                <%= render "tab_revision_content", locals: {subsection: subsection, added_subsections: @added_subsections, deleted_subsections: @deleted_subsections, deleted_clauses: @deleted_clauses, changed_subsections: @changed_subsections, added_clauses: @added_clauses, changed_clauses: @changed_clauses, revision: @revision, project: @project} %>
            <%end%>
        </div>
      
        <% @subsections.each do |subsection|%>
            <div id="<%=h subsection.id%>rev_view" class="tab_content <%=h subsection.id%>">
                <p>Loading...</p>
            </div>
        <% end%>
    </div>

<% end %>

<!-- jquery to load tab content -->
<script>
    $('ul.tabs').children('li.non_prelim').click(function(){
        var subsection_id = $(this).attr('id');
        jQuery.get('/specrevisions/<%=h @project.id%>/show_rev_tab_content?revision_id=<%=h @revision.id %>&subsection_id=' + subsection_id);
    });
</script>
