<!-- project information bar -->
<%= render "project_info_bar", locals: {project: @project} %>

<!-- option select bar -->
<div class="option_band_single">	
	<div class="project_select">
		<div class="project_label_select">Revision:</div>
      	<%= revision_select(@revisions, @revision, @project, @subsections) %>
	</div>
</div>

<!-- page content -->
<% if @subsections.blank? %>
    
    <div class="content">
        <div class="column_1">
    		<div class="column_content">
          		<div class="column_title">Revisions</div>             
        		<div class="column_sub_content">    
    				<div class="column_guide">
    					<%= revision_help(@revision, @project) %>
    				</div>	
          		</div>
          	</div>   
    	</div>
    	<div class="column_2 column_blank"></div>
        <div class="column_3 column_blank"></div>      
    </div> 						

<% else %>

    <div class="revision_tabs">
        <ul class='tabs'>          
          <% @subsections.each do |subsection|%>
            <li id="<%=h subsection.id %>" class="non_prelim"><a href='#<%=h subsection.id %>rev_view'><%=h subsection.full_code %></a></li>
          <% end %>
        </ul>

        <% @subsections.each_with_index do |subsection, i|%>
            <% if i == 0 %>
                <div id="<%=h subsection.id%>rev_view" class="tab_content <%=h subsection.id%>">
                    <% if @revision_project_status_changed %>
                        Project Status changed from <%=h @previous_revision_project_status %> to <%=h @project.revision.project_status %>
                    <% else %>
                        <%= render "tab_revision_content", locals: {project: @project, revision: @revision, subsection: subsection} %>
                    <%end%>
                </div>
            <% else %>
                <div id="<%=h subsection.id%>rev_view" class="tab_content <%= subsection.id %>">
                    <p>Loading...</p>
                </div>
            <% end %> 
        <% end%>
    </div>

<% end %>

<!-- jquery to load tab content -->
<script>
    $('ul.tabs').children('li').click(function(){
        var subsection_id = $(this).attr('id');
        jQuery.get('/specrevisions/<%=h @project.id%>/show_rev_tab_content?revision_id=<%=h @revision.id %>&subsection_id=' + subsection_id);
    });
</script>
