<div class="row title_band">
    <div class="page_title">
        <h1>Add/Delete Guidance Note to Clauses</h1>
    </div>
</div>

<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

<!-- form column start-->
            <div class="row">


            <!-- form input[select -->
            <div class="no_form_input">
                <div class="form_tooltip" id="clause_project_template"></div>
                <label class="label_120">Clause Title Text:</label>
                <span>
                    <%= text_field_tag "search_text", @search_term, {:onblur => "window.location='/clauseguides/#{@clauseguide_id}/assign?search_text='+this.value;"} %>
                </span></br>
            </div>


                <%= form_tag(:controller => "clauseguides", :action => "assign_guides") do %>
                    <%= hidden_field_tag(:clauseguide_id, @clauseguide_id) %>

                    <fieldset>
                        <!-- form input[select] -->
                        <div class="form_tooltip" id="clause_add_clauses"></div>
                        <label class="label_80">Clauses:</label>
                        <% if @project.CAWS? %>
                        <span>
                            <%= select_tag "clauses", options_from_collection_for_select(@clauses, :id, :caws_full_title), multiple: true, size: 12  %>
                        </span></br>
                        <% else %>
                            
                        <% end %>

                        <!-- form input[select] -->
                        <div class="form_tooltip" id="project_status"></div>
                        <label class="label_100">Plan No:</label>
                        <span>
                            <%= select_tag "plan_id", options_for_select([ 1, 2 ], 1) %>
                        </span></br>

                    </fieldset>
            </div>

<!-- column footer start-->
            <div class="row">
                <div class="form_footer">
                    <%= submit_tag "add guidance note"%>
                    <%= link_to "cancel", clauseguides_path %>
                </div>
                <% end %>
            </div>
        </div>
    </div>


    <div class="col-1-3 column_2">
        <div class="border blank_column"></div>
    </div>

    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div>
