<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
<script>tinymce.init({
    selector:'textarea',
    menubar : false,
    statusbar : false,
    height : 300,
    toolbar: ["fontselect fontsizeselect","bold italic underline bullist numlist"]
});</script>


<div class="row title_band">
    <div class="page_title">
        <h1>Edit Clause Guidance Note</h1>
    </div>
</div>

<div class="row">
    <div class="col-1-3 column_1">
        <div class="border">

<!-- form column start-->
            <div class="row">
                <%= form_for @clauseguide do |f| %>
                    <%= f.hidden_field :plan_id, :value => @plan_id %>
                    <%= f.hidden_field :clause_id, :value => @clause_id %>
                    <fieldset>
                    <%= f.fields_for :guidenote do |ff| %>
                        <!-- form input[textarea] -->
                        <div class="form_tooltip"></div>
                        <label class="label_80">Text:</label>
                        <span>
                            <%= ff.text_area :text, class: "widgEditor" %>
                        </span></br>
                    <% end %>
                    </fieldset>
            </div>

<!-- column footer start-->
            <div class="row">
                <div class="form_footer">
                    <%= f.submit "save"%>
                    <%= link_to "cancel", clauseguides_path(:subsection_id => @subsection_id) %>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-1-3 column_2">
        <div class="border blank_column"></div>
    </div>
    <div class="col-1-3 column_3">
        <div class="border blank_column"></div>
    </div>
</div>