	<div class="content_tile">		
		<div class="content_tile_container">
			<% @contents.each_with_index do |content, i|%>
			<div id ="content_tile_<%=h i %>" class="content_tile_item">
      			<a href="<%= feature_path(content) %>">
       				<%= image_tag "#{content.image}.png", :border=>0, :class=>"web_content_tile_image" %>
       				<p class="web_content_tile_title"><%=h content.title %></p>
       				<p class="web_content_tile_text"><%=h content.text %></p>     
      			</a>
      		</div>
      		<% end %>	  	
    	</div>
    		
	</div>
