<ul class="left_menu">
    <% if request.path_parameters[:action] == "new" %>
        <li class="has_sub"><%= link_to "PROJECTS", projects_path, :class => check_current('project') %>
            <ul class="sub_menu">
                <li><%= link_to "Select Project", projects_path %></li>
            </ul>
        </li>
    <% else %>
        <li class="has_sub"><%= link_to "PROJECTS", projects_path, :class => check_current('project') %>
            <ul class="sub_menu">
                <li><%= link_to "Select Project", projects_path %> </li>
                <li><%= link_to "Create Project", new_project_path %> </li>
                <% if @project %> 
                    <li><%= link_to "Edit Project Details", edit_project_path(@project.id) %> </li>
                <% end %>
            </ul>
        </li>
        <% if @project %>
            <li><%= link_to "DOCUMENT", specification_path(@project.id), :class => check_current('revision') %></li>
            <li><%= link_to "REVISIONS", specrevision_path(@project.id), :class => check_current('revision') %></li>
            <li class="has_sub"><%= link_to "PUBLISH", print_path(@project.id), :class => check_current('revision') %> 
                <ul class="sub_menu">
                    <li><%= link_to "Create/Download PDF", print_path(@project.id) %> </li>
                    <li><%= link_to "Document Settings", edit_printsetting_path(@project.id) %> </li>
                    <li><%= link_to "Download Keynote Files", keynote_path(@project.id) %> </li>
                </ul>
            </li>
        <% end %>
    <% end %>
</ul>

<!-- mob menu select -->
<nav class="left_menu_mob_select">MENU</nav>

<ul class="left_menu_mob">
    <% if request.path_parameters[:action] == "new" %>
        <li><p class="mob_menu">PROJECTS</p>
            <ul class="sub_menu_mob">
                <li><%= link_to "Select Project", projects_path %></li>
            </ul>
        </li>
    <% else %>
        <li><p class="mob_menu">PROJECTS</p>
            <ul class="sub_menu_mob">
                <li><%= link_to "Select Project", projects_path %> </li>
                <li><%= link_to "Create Project", new_project_path %> </li>
                <% if @project %> 
                    <li><%= link_to "Edit Project Details", edit_project_path(@project.id) %> </li>
                <% end %>
            </ul>
        </li>
        <% if @project %>
            <li><p class="mob_menu">DOCUMENT</p>
            	<ul class="sub_menu_mob">
                	<li><%= link_to "Edit Document", specification_path(@project.id) %></li>
            	</ul>
            </li>
            <li><p class="mob_menu">REVISIONS</p>
            	<ul class="sub_menu_mob">
                	<li><%= link_to "Document Revisions", specrevision_path(@project.id) %></li>
            	</ul>
            </li>
            <li><p class="mob_menu">PUBLISH</p>
                <ul class="sub_menu_mob">
                    <li><%= link_to "Create/Download PDF", print_path(@project.id) %> </li>
                    <li><%= link_to "Document Settings", edit_printsetting_path(@project.id) %> </li>
                    <li><%= link_to "Download Keynote Files", keynote_path(@project.id) %> </li>
                </ul>
            </li>
        <% end %>
    <% end %>
</ul>