<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyHQ</title>
  
        <%= stylesheet_link_tag    'application-main', media: 'all'%>
        <%= javascript_include_tag 'application-main'%>
        <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
        <%= csrf_meta_tags %>
    </head>
    
    <body>
        <div class="grid-container outline">

            <div class="row header">
                <figure><%= image_tag("header_logo.png", height: "30px") %></figure>
                <div class="header_text">Welcome</div>
            </div>

            <%= render "shared/flash_messages" %>

            <%= yield %>

        </div>
    </body>
</html>
