<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
  <title>Specright: Specifications</title>    
    <%= javascript_include_tag 'application-main' %>
    <%= stylesheet_link_tag  'application-main' %>   
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
	<%= csrf_meta_tags %>
</head>

<body>

<div class="app_page_container">
	
	<!-- menu header-->
	<header class="app_page_header">
   
		<figure class="app_logo"></figure>

        <% if @project %>    
		<nav class="app_menu">
			<div class="menu_item_container">  			    			
    			<% if authorise_project_view(@project.id, ["manage"])%> 
    			     <div class="app_menu_item"><%= link_to "PROJECT", edit_project_path(@project.id), :class => check_current('project')%></div>
    			<% else %>     
                     <div class="app_menu_item"><%= link_to "PROJECT", project_path(@project.id), :class => check_current('project')%></div>
    			<% end %>
    			<div class="app_menu_item"><%= link_to "DOCUMENT", project_path(@project.id), :class => check_current('document')%></div>
    			<div class="app_menu_item"><%= link_to "REVISIONS", specrevision_path(@project.id), :class => check_current('revision')%></div>
    			<div class="app_menu_item"><%= link_to "PUBLISH", print_path(@project.id), :class => check_current('publish')%></div>
    			<% if current_user.company.category == 'manufacturer'%>    
    				<div class="app_menu_item"><%= link_to "DASHBOARD", nil %></div>
    			<% end %>
    		</div>
  		</nav>
		
		<nav class="app_mob_menu">menu</nav>	
		<!-- drop general menu for mobile-->
		<%= render :partial => "spec_menu", :project => @project %>
        <% end %>

  		<!-- show icon only in mob version -->
  		<nav class="app_user_name"><%= current_user.name %></nav>  
		<nav class="app_logout"><%= link_to "logout", log_out_path %></nav> 
	</header>
	<!-- drop down user settings menu -->
	<%= render :partial => "user_menu", :current_user => current_user %>
	
	

<%= yield %>

</body>

</html>