<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
  <title>Specright: Specifications</title>    
    <%= javascript_include_tag 'application-main' %>
    <%= stylesheet_link_tag  'application-main', media: 'all' %>   
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
	<%= csrf_meta_tags %>
</head>

<body>

<div class="app_page_container">

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


    <header class="app_page_header">
        <figure class="app_logo"></figure>	
	                               
        <%= render :partial => "spec_menu", :project => @project %>              
             
        <%= render :partial => "user_menu", :project => @project %> 
                     
    </header>	

<%= yield %>

</body>

</html>